			<div id="wrapper" >

				<!-- Nav -->
				<nav id="nav">
					<a href="#btc" class="icon fa-btc active"><span>Bitcoin</span></a>
					<a href="#eth" class="icon fa-envelope"><span>Ethereum</span></a>
					<a href="#xrp" class="icon fa-envelope"><span>Ripple</span></a>
					<a href="#twt" class="icon fa-twitter"><span>Twitter</span></a>
				</nav>

				<!-- Main -->
				<div id="main">

					<article id="btc" class="panel">
						<header>
							<h2>Bitcoin</h2>
						</header>
						<% @btc_news.each do |btc_new| %>
						<p><%= btc_new[:news] %> <%= link_to btc_new[:url], btc_new[:url] %></p>
						<% end %>
					</article>

					<article id="eth" class="panel">
						<header>
							<h2>Ethereum</h2>
						</header>
						<% @eth_news.each do |eth_new| %>
						<p><%= eth_new[:news] %> <br> <%= link_to eth_new[:url], eth_new[:url] %></p>
						<% end %>
					</article>

					<article id="xrp" class="panel">
						<header>
							<h2>Ripple</h2>
						</header>
						<% @xrp_news.each do |xrp_new| %>
						<p><%= xrp_new[:news] %> <br> <%= link_to xrp_new[:url], xrp_new[:url] %></p>
						<% end %>
					</article>

						<!-- 	<article id="contact" class="panel">
								<header>
									<h2>Contact Me</h2>
								</header>
								<form action="#" method="post">
									<div>
										<div class="row">
											<div class="6u 12u$(mobile)">
												<input type="text" name="name" placeholder="Name" />
											</div>
											<div class="6u$ 12u$(mobile)">
												<input type="text" name="email" placeholder="Email" />
											</div>
											<div class="12u$">
												<input type="text" name="subject" placeholder="Subject" />
											</div>
											<div class="12u$">
												<textarea name="message" placeholder="Message" rows="8"></textarea>
											</div>
											<div class="12u$">
												<input type="submit" value="Send Message" />
											</div>
										</div>
									</div>
								</form>
							</article> -->

							<!-- Tweets -->
							<article id="twt" class="panel">
								<header>
									<h2>Tweets</h2>
								</header>
								<form action="#" method="post">
									<div>
										<% @tweets.each do |tweet| %>
										<p><%= tweet[:tweet] %> <br> <%= link_to tweet[:url],  tweet[:url].split(" ").length == 1 ? tweet[:url] : tweet[:url].split(" ").first %></p>
										<% end %>
									</div>
								</form>
							</article>
						</div>
					</div>