<!DOCTYPE html>
<html>
  <head>
    <title>CryptoneWSinspector</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= javascript_include_tag "https://github.com/ajlkn/skel/blob/master/dist/skel-viewport.min.js" %>
    <%= javascript_include_tag "https://github.com/ajlkn/skel/blob/master/dist/skel.min.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
